body {
    display: flex;
    font-family: roboto;
    flex-direction: column;
}

/* First section css */

.hero,
.footer {
    background-color: #1F2937;
}

.hero {
    padding-bottom: 50px;
}

.header img {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.header_links {
    display: flex;
    gap: 20px;
}

ul,
a {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main_text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.left {
    display: flex;
    flex-direction: column;
}

.left p {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

.right img {
    height: 200px;
    width: 500px;
    display: flex;
    align-content: center;
    background-color: grey;
    color: #F9FAF8;
    text-align: center;
}

.button {
    width: 120px;
    height: 40px;
    color: white;
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 12px;
}

/* Second section */

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.information {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.information img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
    border: cornflowerblue;
    border-style: solid;
}

.information p {
    max-width: 150px;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    color: #1F2937;
}

/* Third section */

.quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
}

.quote_text {
    font: 36px light italic;
    color: #1F2937;
    max-width: 780px;
    margin-top: 90px;
}

.quote .author {
    margin-left: 640px;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 70px;
}

/* Fourth section */

.call_to_action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #3882F6;
    align-self: center;
    height: 100px;
    width: 1050px;
    border-radius: 12px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.call_to_action .button {
    border-color: white;
    border-width:s 2px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    color: white;
}
